<div class="container-fluid">
  <div class="row">
    <div class="col-md-1" style="margin-top: 8px;">
      <img src=".././assets/gkl.png">
    </div>
    <div class="col-md-11">
      <h5 style="margin-top: 30px;">Kaveri Online Services</h5>
    </div>
  </div>
</div>
<div class="container-fluid px-0">
  <div class="row">
    <div class="col-md-9">
      <div class="row"
        style="background-color: #888888;color: white;font-weight: 500;border-radius: 5px;margin-top: 10px;">
        <div class="col-md-2"><span>Dashboard</span></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"><span>FROM</span></div>
        <div class="col-md-3"><input class="form-control" formControlName="FromDate" type="date"
            style="background-color: white;border: transparent;margin-top: 5px;margin-bottom: 5px;"></div>
        <div class="col-md-1"><span>TO</span></div>
        <div class="col-md-3"><input class="form-control" formControlName="ToDate" type="date"
            style="margin-top: 5px;background-color: white;border: transparent;"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: #4e4e4e;font-weight: 500;background-color: white;border-bottom: none;">
                <span>Documents Registered</span>
              </div>
              <div class="card-body">
                 <p>1.0</p>
                 <p>0.8</p>
                 <p>0.6</p>
                 <p>0.4</p>
                 <p>0.2</p>
                 <p>0</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <p>Marriage Registered</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>80000</p>
                    <p>70000</p>
                    <p>60000</p>
                    <p>50000</p>
                    <p>40000</p>
                    <p>30000</p>
                    <p>20000</p>
                    <p>10000</p>
                    <p>0</p>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
      </div>
      <div class="row ">
        <div class="col-md-4 certificates">
          <div class="col-md-12">
            <span style="font-size: 12px;font-weight: bold;">Encumbrance Cerificate</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="../assets/img-1.png" style="width: 40px;height: 40px;">
            </div>
            <div class="col-md-6">
              <h1 style="font-weight: bold;font-size: 32px;">2485</h1>
            </div>
          </div>
        </div>
        <div class="col-md-4 certificates">
          <div class="col-md-12">
            <span style="font-size: 12px;font-weight: bold;">Certified Copy</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="../assets/img-2.png" style="width: 40px;height: 40px;">
            </div>
            <div class="col-md-6">
              <h1 style="font-weight: bold;font-size: 32px;">2485</h1>
            </div>
          </div>
        </div>
        <div class="col-md-4 certificates">
          <div class="col-md-12">
            <span style="font-size: 12px;font-weight: bold;">Firm Registration</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="../assets/img-3.png" style="width: 40px;height: 40px;">
            </div>
            <div class="col-md-6">
              <h1 style="font-weight: bold;font-size: 32px;">2485</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="height: 490px;">
        <div class="card-header" style="background-color: #05265b;color: white;font-weight: 500;border-radius: 5px;">
          <span>Departmental Login</span>
        </div>
        <div class="card-body" style="margin-top: 20px;">
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" formControlName="deptuser" class="form-control" placeholder="Enter Username">
              <div class="invalid-feedback">
                <div>Username is required</div>
                <div>Invalid User Email</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="deptpassword" class="form-control" placeholder="Enter Password">

            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="password">Place Finger on Scanner</label>
              </div>

            </div>
            <div class="row">
              <div class="col-md-7">
                <!-- <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder=""></textarea> -->
                <div style="height: 70px;width: 150px;border-radius: 10px;border: 2px solid black"></div>
              </div>
              <div class="col-md-5">
                <br>
                <a class="nav-link" style="cursor:pointer;color: #0a429b;font-weight:bold;font-size: 12px;">Verify</a>
              </div>
            </div>
            <!-- </div><br> -->
            <br>
            <div class="row">
              <div class="col-md-4">
                <!-- <button type="button" class="btn btn-primary px-4">Login</button> -->
              </div>
              <div class="col-md-8">
                <button type="button" class="btn btn-primary px-4" style="background-color: #0a429b;">Login</button>
              </div>
              <br><br><br>
              <span style="color:red;margin-left: 5px;font-weight: bold;"></span>

            </div><br><br>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="container-fluid mt-0" style="background-color: #34373d;z-index: 1020;height: 50px;border: 1px solid #34373d;">
    <div class="page-footer">
        <p>Accessibility Statement | Terms & Conditions | Website Policies | Help | Feedback | Contact Us | Web
            Information Manager | FAQ | Sitemap | Visitors Analytics</p>
    </div>
    <div class="copyright">
        <p>©2021, Department of Stamps and Registration, Karnataka</p>
    </div>
</footer>














  <!-- <footer style="background-color: #34373d;z-index: 1020;height: 50px;border: 1px solid #34373d;">
    <div class="row" style="margin-left: 10px;">
      <div class="col-xs-2">
        <span></span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">Accessibility Statement&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Terms & Conditions&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Website Policies&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Help&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Feedback&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Contact Us&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Web Information Manager&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;FAQ&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Sitemap&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Visitors Analytics</span>
      </div>
      <!-- <div class="col-xs-1">
    </div> -->
    <!-- </div>
  </footer>
  <footer style="height: 50px;background-color: #fbfbfb;z-index: 1020;">
    <div class="row" style="margin-left: 10px;">
      <span style="color: black;">©2021, Department of Stamps and Registration, Karnataka</span>
    </div>
  </footer>  -->